@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap");

:root {
  --primary-color: #00dea3;
  --subdue-primary-color: #773efd28;
  --secondary-color: #868cff;
  --subdue-secondary-color: #00dea328;
  --body-bg: #dcf2f8;
  --bg-color: #ffffff;
  --primary-text: #707eae;
  --light-text: #aeb6cf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

